@import 'notyf/notyf.min.css';
@import "../../vendor/tempest/highlight/src/Themes/Css/light-plus.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

/* misc */
[x-cloak] {
    display: none !important;
}

.conversation:last-child {
    margin-bottom: 20px !important;
}

.aibot-message-content a, .note-message a, .quick-message a {
    color: rgb(59 130 246);
    text-decoration: none !important;
}

.aibot-message-content li::marker {
    font-size: 1.1rem;
    color: #9ca3af;
}

.aibot-message-content li, .note-message li, .quick-message li {
    list-style: square;
}

.note-message a, .quick-message a, .aibot-message-content a {
    display: inline-block;
}

.chatlist ul li:last-child {
    padding-bottom: 2rem !important;
}

.notyf__toast {
    max-width: 50em !important;

    .notyf__ripple {
        height: 60em;
        width: 60em;
    }
}

pre {
    background: #f3f4f6 !important;
    color: #222 !important;
}

.chatlist h1, .chatlist h2, .chatlist h3, .note-message h1, .note-message h2, .note-message h3, .quick-message h1, .quick-message h2, .quick-message h3 {
    font-size: 1.2rem;
    margin: 0 0 5px;
}

strong {
    font-weight: 600 !important;
}

.prose {
    max-width: none !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.prose > * {
    max-width: none !important;
}

.prose pre,
.prose code {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.prose pre code {
    display: inline-block;
    min-width: 100%;
}

/* alpine titles */
.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top] > .tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left] > .tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right] > .tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333
}

.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1
}
