@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

/* misc */
[x-cloak] {
    display: none !important;
}

.conversation:last-child {
    margin-bottom: 20px !important;
}

.aibot-message-content a {
    color: #2563EB;
    text-decoration: underline;
}

.notyf__toast {
    max-width: 50em !important;
    .notyf__ripple {
        height: 60em;
        width: 60em;
    }
}
